<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>作者ID</td>
            <td>操作</td>
        </tr>

        <tr th:each="person:${personList}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.authorid}"></td>
            <td>
                <a th:href="@{'/book/updateById?id='+${person.id}}">修改</a>
            </td>
        </tr>


    </table>

</body>
</html>